apiVersion: v2
name: librenms
description: LibreNMS is an autodiscovering PHP/MySQL-based network monitoring system.
type: application
version: 6.0.0
appVersion: "25.11.0"
maintainers:
  - name: jacobw
    url: https://github.com/jacobw
dependencies:
  - name: redis
    version: "24.0.0"
    repository: "https://charts.bitnami.com/bitnami"
    condition: redis.enabled
  - name: mysql
    version: "~14.0.0"
    repository: "https://charts.bitnami.com/bitnami"
    condition: mysql.enabled
