{{- if not .Values.librenms.existingSecret }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}
type: Opaque
stringData:
  appkey: {{ if .Values.librenms.appkey }}{{ .Values.librenms.appkey | quote }}{{ else }}{{ printf "base64:%s" (randAlphaNum 32 | b64enc) | quote }}{{ end }}
{{- end }}