{{- if and .Values.librenms.appkey (not .Values.librenms.existingSecret) }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}-appkey
type: Opaque
data:
  appkey: {{ .Values.librenms.appkey | b64enc | quote }}
{{- end }}
