apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}-frontend
spec:
  {{- with .Values.librenms.frontend }}
  replicas: {{ .replicas }}
  {{- end }}
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ .Release.Name }}
      app.kubernetes.io/instance: frontend
  template:
    metadata:
      annotations:
        checksum/config: {{ include "librenms.configChecksum" . }}
      labels:
        app.kubernetes.io/name: {{ .Release.Name }}
        app.kubernetes.io/instance: frontend
    spec:
      {{- with .Values.librenms.frontend }}
      serviceAccountName: {{ .serviceAccountName }}
      {{- end }}
      {{- with .Values.librenms.frontend.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      volumes:
      - name: files
        configMap:
          name: {{ .Release.Name }}-files
      {{- if .Values.librenms.frontend.persistence.enabled }}
      - name: data
        persistentVolumeClaim:
          claimName: {{ .Release.Name }}-frontend-data
      {{- end }}
      {{- with .Values.librenms.frontend.extraVolumes }}
      {{- toYaml . | nindent 6 }}
      {{- end }}
      containers:
      - name: librenms
        image: '{{ .Values.librenms.image.repository }}:{{ .Values.librenms.image.tag }}'
        imagePullPolicy: Always
        {{- if or ((.Values.librenms).privileged) (((.Values.librenms).frontend).privileged) }}
        securityContext:
          privileged: true
        {{- end }}
        envFrom:
        - configMapRef:
            name: {{ .Release.Name }}
        {{- with .Values.librenms.extraEnvFrom }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
        {{- with .Values.librenms.frontend.extraEnvFrom }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
        env:
        - name: DB_PASSWORD
          valueFrom:
            secretKeyRef:
              name: {{ .Release.Name }}-mysql
              key: mysql-password
        {{- if or .Values.librenms.appkey .Values.librenms.existingSecret }}
        - name: APP_KEY
          valueFrom:
            secretKeyRef:
              name: {{ include "librenms.secretName" . }}
              key: appkey
        {{- end }}
        {{- with .Values.librenms.extraEnvs }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
        {{- with .Values.librenms.frontend.extraEnvs }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
        volumeMounts:
        {{- if .Values.librenms.frontend.persistence.enabled }}
        - name: data
          mountPath: /data
        {{- end }}
        - name: files
          mountPath: /data/files
        - name: files
          mountPath: /data/config/custom.php
          subPath: custom.php
          readOnly: true
        {{- with .Values.librenms.frontend.extraVolumeMounts }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
        {{- if .Values.librenms.frontend.resources }}
        resources: {{ toYaml .Values.librenms.frontend.resources | nindent 10 }}
        {{- end }}
        {{- if .Values.librenms.frontend.readinessProbe }}
        readinessProbe: {{ toYaml .Values.librenms.frontend.readinessProbe | nindent 10 }}
        {{- end }}
        ports:
        - name: http
          containerPort: 8000
