---
kind: ConfigMap
apiVersion: v1
metadata:
  name: {{ .Release.Name }}
data:
  TZ: {{ .Values.librenms.timezone}}
  DB_TIMEOUT: {{ include "librenms.dbTimeout" . | quote }}
  REDIS_HOST: {{ .Release.Name }}-redis-master
  REDIS_PORT: "6379"
  REDIS_DB: "0"
  RRDCACHED_SERVER: "{{ .Release.Name }}-rrdcached:42217"
  CACHE_DRIVER: redis
  SESSION_DRIVER: redis
  DB_HOST: {{ include "librenms.dbHost" . }}
  DB_PORT: {{ include "librenms.dbPort" . | quote }}
  DB_USERNAME: {{ include "librenms.dbUser" . }}
  DB_DATABASE: {{ include "librenms.dbName" . }}
--- 
kind: ConfigMap
apiVersion: v1
metadata:
  name: {{ .Release.Name }}-files
data:
  custom.php: |-
{{ tpl (.Files.Get "files/custom.php") . | indent 4 }}
  init.sh: |-
{{ .Files.Get "files/init.sh" | indent 4 }}