apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: {{ .Release.Name }}-poller
spec:
  {{- with .Values.librenms.poller }}
  replicas: {{ .replicas  | default "2" }}
  {{- end }}
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ .Release.Name }}
      app.kubernetes.io/instance: {{ .Release.Name }}
  serviceName: "poller"
  template:
    metadata:
      annotations:
        checksum/config: {{ include "librenms.configChecksum" . }}
      labels:
        app.kubernetes.io/name: {{ .Release.Name }}
        app.kubernetes.io/instance: {{ .Release.Name }}
    spec:
      {{- with .Values.librenms.poller }}
      serviceAccountName: {{ .serviceAccountName }}
      {{- end }}
      {{- with .Values.librenms.poller.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      volumes:
      - name: env-volume
        emptyDir: {}
      - name: key
        secret:
          secretName: {{ include "librenms.secretName" . }}
      - name: files
        configMap:
          name: {{ .Release.Name }}-files
      {{- with .Values.librenms.poller.extraVolumes }}
      {{- toYaml . | nindent 6 }}
      {{- end }}
      initContainers:
        - name: init
          image: '{{ .Values.librenms.initContainer.image.repository }}:{{ .Values.librenms.initContainer.image.tag }}'
          command: ["/bin/sh","/data/files/init.sh"]
          {{- if .Values.librenms.initContainer.resources }}
          resources: {{ toYaml .Values.librenms.initContainer.resources | nindent 12 }}
          {{- end }}
          volumeMounts:
          - name: env-volume
            mountPath: /data/env-volume
          - name: key
            mountPath: /data/key
          - name: files
            mountPath: /data/files
      containers:
      - name: poller
        image: '{{ .Values.librenms.image.repository }}:{{ .Values.librenms.image.tag }}'
        imagePullPolicy: Always
        {{- if or ((.Values.librenms).privileged) (((.Values.librenms).poller).privileged) }}
        securityContext:
          privileged: true
        {{- end }}
        env:
        - name: SIDECAR_DISPATCHER
          value: "1"
        - name: DB_PASSWORD
          valueFrom:
            secretKeyRef:
              name: {{ .Release.Name }}-mysql
              key: mysql-password
        {{- with .Values.librenms.extraEnvs }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
        {{- with .Values.librenms.poller.extraEnvs }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
        envFrom:
        - configMapRef:
            name: {{ .Release.Name }}
        {{- with .Values.librenms.extraEnvFrom }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
        {{- with .Values.librenms.poller.extraEnvFrom }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
        volumeMounts:
        - name: files
          mountPath: /data/config/custom.php
          subPath: custom.php
          readOnly: true
        - name: env-volume
          mountPath: /data/.env
          subPath: env
        {{- with .Values.librenms.poller.extraVolumeMounts }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
        {{- if .Values.librenms.poller.resources }}
        resources: {{ toYaml .Values.librenms.poller.resources | nindent 10 }}
        {{- end }}
        readinessProbe: 
          exec:
            command: ["nc", "-z", "-v", "-w1", "{{ .Release.Name }}-mysql", "3306"]
          initialDelaySeconds: 0
          periodSeconds: 1
          failureThreshold: 3
