apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}-rrdcached
spec:
  strategy: 
    type: Recreate
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ .Release.Name }}
      app.kubernetes.io/instance: rrdcached
  template:
    metadata:
      labels:
        app.kubernetes.io/name: {{ .Release.Name }}
        app.kubernetes.io/instance: rrdcached
    spec:
      {{- with .Values.librenms.rrdcached }}
      serviceAccountName: {{ .serviceAccountName }}
      {{- end }}
      {{- with .Values.librenms.rrdcached.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      securityContext:
        fsGroup: 1000
      volumes:
      {{- if .Values.librenms.rrdcached.persistence.enabled }}
      - name: db
        persistentVolumeClaim:
          claimName: {{ .Release.Name }}-rrdcached
      - name: journal
        persistentVolumeClaim:
          claimName: {{ .Release.Name }}-rrdcached-journal
      {{end}}
      {{- with .Values.librenms.rrdcached.extraVolumes }}
      {{- toYaml . | nindent 6 }}
      {{- end }}
      
      containers:
      - name: rrdcached
        image: '{{ .Values.librenms.rrdcached.image.repository }}:{{ .Values.librenms.rrdcached.image.tag }}'
        imagePullPolicy: Always
        {{- if .Values.librenms.rrdcached.persistence.enabled }}
        volumeMounts:
        - name: db
          mountPath: /data/db
        - name: journal
          mountPath: /data/journal
        {{- with .Values.librenms.rrdcached.extraVolumeMounts }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
        {{- else }}
        {{- with .Values.librenms.rrdcached.extraVolumeMounts }}
        volumeMounts:
        {{- toYaml . | nindent 8 }}
        {{- end }}
        {{end}}
        env:
        - name: TZ
          value: "{{ .Values.librenms.timezone}}"
        {{- with .Values.librenms.rrdcached.envs }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
        {{- with .Values.librenms.rrdcached.extraEnvs }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
        ports:
        - containerPort: 42217
          name: rrdcached
          protocol: TCP
        {{- with .Values.librenms.rrdcached.readinessProbe }}
        readinessProbe:
          {{- toYaml . | nindent 10 }}
        {{- end }}
        {{- with .Values.librenms.rrdcached.livenessProbe }}
        livenessProbe:
          {{- toYaml . | nindent 10 }}
        {{- end }}
        {{- if .Values.librenms.rrdcached.resources }}
        resources: {{ toYaml .Values.librenms.rrdcached.resources | nindent 10 }}
        {{- end }}
